flows/Test.flow
[{"id":"8112e224.81c9c8","type":"tab","label":"Test TobyJnr","disabled":false,"info":""},{"id":"84d4c603.049e7","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":100,"wires":[["320db274.6b7d4e"]]},{"id":"b70e9b37.4a2668","type":"speakerpi-output","z":"8112e224.81c9c8","choose":"filebased","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","channels":"1","bitdepth":"16","samplerate":"11025","name":"Bluetooth headset/speaker","x":880,"y":160,"wires":[]},{"id":"320db274.6b7d4e","type":"file in","z":"8112e224.81c9c8","name":"","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","format":"","x":360,"y":100,"wires":[["808b81ca.42f0b"]]},{"id":"808b81ca.42f0b","type":"change","z":"8112e224.81c9c8","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":160,"wires":[["b70e9b37.4a2668","b2ead0eb.a03ad8"]]},{"id":"a3e026fc.3ea7f8","type":"rpi-neopixels","z":"8112e224.81c9c8","name":"RGB LED","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":740,"y":320,"wires":[]},{"id":"182caeb6.5eb9e9","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["a3e026fc.3ea7f8"]]},{"id":"1f09e0f1.8b783f","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["a3e026fc.3ea7f8"]]},{"id":"6b3f4f33.5e102","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["a3e026fc.3ea7f8"]]},{"id":"c2791da3.79bba","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"black","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":360,"wires":[["a3e026fc.3ea7f8"]]},{"id":"1a02f5a2.6bc21a","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":400,"wires":[["a3e026fc.3ea7f8"]]},{"id":"5a8ca1e.06295e","type":"inject","z":"8112e224.81c9c8","name":"back","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":480,"wires":[["55ff85bd.fd2f3c"]]},{"id":"f8080d64.05b1e","type":"inject","z":"8112e224.81c9c8","name":"up","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[["55ff85bd.fd2f3c"]]},{"id":"1f10fa9.c797605","type":"inject","z":"8112e224.81c9c8","name":"forward","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":560,"wires":[["55ff85bd.fd2f3c"]]},{"id":"53d2b859.5a8ea","type":"rpi-sensehat out","z":"8112e224.81c9c8","name":"","x":750,"y":660,"wires":[]},{"id":"9a6dd5d6.38c7f","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":620,"wires":[["53d2b859.5a8ea"]]},{"id":"e899a913.444c38","type":"rpi-sensehat in","z":"8112e224.81c9c8","name":"","motion":false,"env":true,"stick":true,"x":100,"y":740,"wires":[["2e048478.34b0d4"]]},{"id":"2e048478.34b0d4","type":"debug","z":"8112e224.81c9c8","name":"","active":false,"console":"false","complete":"true","x":730,"y":740,"wires":[]},{"id":"c3b0c34d.ceb0d8","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"*,*,red","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":660,"wires":[["53d2b859.5a8ea"]]},{"id":"e0c2145b.5d9d38","type":"inject","z":"8112e224.81c9c8","name":"","topic":"","payload":"*,*,blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":700,"wires":[["53d2b859.5a8ea"]]},{"id":"55ff85bd.fd2f3c","type":"pi-gpiod out","z":"8112e224.81c9c8","name":"","host":"localhost","port":8888,"pin":"7","set":"","level":"0","out":"ser","sermin":"600","sermax":"2400","x":740,"y":520,"wires":[]},{"id":"44bfc31c.e1f544","type":"camerapi-takephoto","z":"8112e224.81c9c8","filemode":"2","filename":"test.png","filedefpath":"1","filepath":"/home/pi","fileformat":"png","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":430,"y":820,"wires":[["67afa33d.3d88cc"]]},{"id":"67607230.e4e144","type":"inject","z":"8112e224.81c9c8","name":"Take pic","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":820,"wires":[["44bfc31c.e1f544"]]},{"id":"67afa33d.3d88cc","type":"debug","z":"8112e224.81c9c8","name":"","active":false,"console":"false","complete":"true","x":730,"y":820,"wires":[]},{"id":"b2ead0eb.a03ad8","type":"debug","z":"8112e224.81c9c8","name":"","active":false,"console":"false","complete":"true","x":810,"y":120,"wires":[]},{"id":"5589150e.cd530c","type":"inject","z":"8112e224.81c9c8","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":140,"wires":[["f9bba2c3.ec92a"]]},{"id":"bc0aeaeb.26ea78","type":"inject","z":"8112e224.81c9c8","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["f9bba2c3.ec92a"]]},{"id":"f9bba2c3.ec92a","type":"microPi","z":"8112e224.81c9c8","name":"microPi","filename":"/home/pi/audio/mic.wav","domain":"http://localhost:1880/getAudio","rate":"11025","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":300,"y":160,"wires":[[],["808b81ca.42f0b"],[]]}]
