flows/TobyJnr.flow
[{"id":"fd77f939.f77978","type":"tab","label":"TobyJnr","disabled":false,"info":""},{"id":"50a8bd65.57f8dc","type":"switch","z":"fd77f939.f77978","name":"Click","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"error","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":600,"wires":[[],["8921a8fb.5e5f68","21a66bf8.903d4c"]]},{"id":"5bf20f45.753738","type":"debug","z":"fd77f939.f77978","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":1050,"y":800,"wires":[]},{"id":"56ed44db.558a2c","type":"link out","z":"fd77f939.f77978","name":"","links":["7f1f35c6.9ab4c4","7eadfbfc.01d3e4"],"x":1155,"y":920,"wires":[]},{"id":"d4925968.f8dd8","type":"comment","z":"fd77f939.f77978","name":"Did the text include a color?","info":"This flow requires the \nnode-red-node-pi-neopixel \nnpm package.","x":1300,"y":920,"wires":[]},{"id":"8921a8fb.5e5f68","type":"file","z":"fd77f939.f77978","name":"Save photo.jpg","filename":"/tmp/photo.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":900,"y":600,"wires":[]},{"id":"76d48f75.902ac","type":"ui_template","z":"fd77f939.f77978","group":"75763fe9.2d4ba8","name":"Photo","order":2,"width":"12","height":"9","format":"<div ng-bind-html></div>\n<img width=\"300\" height=\"300\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":false,"fwdInMessages":false,"x":1030,"y":680,"wires":[[]]},{"id":"6b89ff5f.9291c8","type":"comment","z":"fd77f939.f77978","name":"Remember to keep the .jpg < 2MB","info":"","x":480,"y":680,"wires":[]},{"id":"b8a21d3b.5a6dd8","type":"comment","z":"fd77f939.f77978","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":980,"y":720,"wires":[]},{"id":"7c8bbefd.6dca88","type":"camerapi-takephoto","z":"fd77f939.f77978","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Pi Camera Photo","x":520,"y":600,"wires":[["50a8bd65.57f8dc","f567e714.3acd3"]]},{"id":"526ef2b.ac99c0c","type":"inject","z":"fd77f939.f77978","name":"Test TJBot RaspPi Photo","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":340,"wires":[["32948c53.e108f4"]]},{"id":"13b2f9a1.5d943e","type":"ui_button","z":"fd77f939.f77978","name":"","group":"75763fe9.2d4ba8","order":1,"width":"0","height":"0","passthru":false,"label":"Take a TJBot Raspberry Pi Camera Photo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":300,"wires":[["32948c53.e108f4"]]},{"id":"8282374.6cbf5c8","type":"ui_button","z":"fd77f939.f77978","name":"","group":"75763fe9.2d4ba8","order":3,"width":0,"height":0,"label":"Ask Watson to Read this Photo","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":190,"y":840,"wires":[["faf72938.8328e8"]]},{"id":"bff15d83.74b67","type":"comment","z":"fd77f939.f77978","name":"Text Extraction","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick left","x":100,"y":800,"wires":[]},{"id":"7e581e13.38f8a","type":"comment","z":"fd77f939.f77978","name":"Image Classification","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick right","x":110,"y":900,"wires":[]},{"id":"21a66bf8.903d4c","type":"base64","z":"fd77f939.f77978","name":"Encode","x":880,"y":680,"wires":[["76d48f75.902ac"]]},{"id":"9a6c85de.47e38","type":"debug","z":"fd77f939.f77978","name":"What did Watson find?","active":true,"console":"false","complete":"template","x":1240,"y":880,"wires":[]},{"id":"6d691fa8.cd1c2","type":"ui_template","z":"fd77f939.f77978","group":"d36cb946.df39d8","name":"","order":5,"width":"10","height":"12","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":1200,"y":840,"wires":[[]]},{"id":"e628d01b.3936d","type":"visual-recognition-v3","z":"fd77f939.f77978","name":"","apikey":"fdcfa62d1ccdb08e25310eefb02fede815cf2a32","image-feature":"classifyImage","lang":"en","x":770,"y":880,"wires":[["8dfc4dc4.326f48","5bf20f45.753738"]]},{"id":"8dfc4dc4.326f48","type":"function","z":"fd77f939.f77978","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>h4 { text-align: center; margin: 10px; }\";\nmsg.template=msg.template+\"table {    width: 440px;    margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.template=msg.template+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.template=msg.template+\".title { background-color:LightGrey;}</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":880,"wires":[["6d691fa8.cd1c2","9a6c85de.47e38","56ed44db.558a2c"]]},{"id":"b65efbb9.4bed5","type":"ui_button","z":"fd77f939.f77978","name":"","group":"75763fe9.2d4ba8","order":4,"width":0,"height":0,"label":"Ask Watson to Summarize this Photo","color":"","bgcolor":"","icon":"","payload":"{\"params\":{\"detect_mode\":\"classify\"}}","payloadType":"json","topic":"","x":210,"y":940,"wires":[["e6413872.746168"]]},{"id":"8c15f8ac.12016","type":"file in","z":"fd77f939.f77978","name":"photo.jpg","filename":"/tmp/photo.jpg","format":"","x":600,"y":880,"wires":[["e628d01b.3936d"]]},{"id":"386c3b0b.847f3c","type":"comment","z":"fd77f939.f77978","name":"Countdown to take Photos from a Raspberry Pi Camera","info":"If you add a Raspberry Pi Camera to your TJBot,\nhe can \"see\" and take Photos through his \n\"eye\" cutout.\n\nThis Node-RED flow requires the\nnode-red-contrib-camerapi npm package.\n\nDon't forget to enable the Camera in the \nRaspberry Pi Configuration utility.\n\nThe camera can be controlled in 3 ways:\n- Moving the SenseHAT joystick up \n- From the botton on the dashboard\n- From the inject node in the flow\n\nA 5 second count down is started when a picture is requested - the countdown is shown on the SenseHAT LED","x":220,"y":220,"wires":[]},{"id":"e6413872.746168","type":"change","z":"fd77f939.f77978","name":"Classify Image","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"classify","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":940,"wires":[["8c15f8ac.12016"]]},{"id":"faf72938.8328e8","type":"change","z":"fd77f939.f77978","name":"Extract Text","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"text","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":840,"wires":[["8c15f8ac.12016"]]},{"id":"7bab4f1e.e33ed8","type":"comment","z":"fd77f939.f77978","name":"node-red-contrib-camerapi dependency","info":"This flow requires\n  node-red-contrib-camerapi\n\nYou can either \n  $ sudo npm -g install node-red-contrib-camerapi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":500,"y":640,"wires":[]},{"id":"e468e897.dae358","type":"comment","z":"fd77f939.f77978","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":720,"y":800,"wires":[]},{"id":"cf8d945a.81a9e","type":"comment","z":"fd77f939.f77978","name":"Paste API keys for Visual Recognition","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Visual Recognition service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":730,"y":840,"wires":[]},{"id":"b8f73e22.badaa","type":"comment","z":"fd77f939.f77978","name":"node-red-node-base64 dependency","info":"This flow requires\n  node-red-node-base64\n  \nYou can either \n  $ sudo npm -g install node-red-node-base64\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":960,"y":640,"wires":[]},{"id":"35fe61be.2b1b86","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":370,"y":540,"wires":[]},{"id":"c86e96d.909bbe8","type":"change","z":"fd77f939.f77978","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":540,"wires":[["35fe61be.2b1b86","8259fbfc.04811"]]},{"id":"f567e714.3acd3","type":"change","z":"fd77f939.f77978","name":"black","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":560,"wires":[["3d9adeac.4741e2"]]},{"id":"3d9adeac.4741e2","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":890,"y":540,"wires":[]},{"id":"ba8fad3c.19892","type":"rpi-sensehat in","z":"fd77f939.f77978","name":"","motion":false,"env":false,"stick":true,"x":120,"y":140,"wires":[["d2070183.2992e8"]]},{"id":"d2070183.2992e8","type":"rbe","z":"fd77f939.f77978","name":"","func":"rbe","gap":"","start":"","inout":"out","x":250,"y":140,"wires":[["72cd4ffa.637a58"]]},{"id":"72cd4ffa.637a58","type":"switch","z":"fd77f939.f77978","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","outputs":4,"x":370,"y":140,"wires":[["eab4fbfb.c0f9a8"],["632cf4df.7ed64c"],["7b1e64f3.598d1c"],["2f345b7d.23cc0c"]]},{"id":"eab4fbfb.c0f9a8","type":"switch","z":"fd77f939.f77978","name":"LEFT joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":540,"y":100,"wires":[["5be5c08c.af4cf8"]]},{"id":"632cf4df.7ed64c","type":"switch","z":"fd77f939.f77978","name":"RIGHT joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":540,"y":140,"wires":[["a8bfb33f.ae79b"]]},{"id":"7b1e64f3.598d1c","type":"switch","z":"fd77f939.f77978","name":"DOWN joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":540,"y":180,"wires":[["11b5dc99.a8c2db"]]},{"id":"61f2772f.4dae8","type":"link in","z":"fd77f939.f77978","name":"process photo","links":["b24beead.dcdbb8"],"x":75,"y":540,"wires":[["c86e96d.909bbe8"]]},{"id":"5be5c08c.af4cf8","type":"link out","z":"fd77f939.f77978","name":"","links":["2431a3f1.31de54"],"x":655,"y":100,"wires":[]},{"id":"a8bfb33f.ae79b","type":"link out","z":"fd77f939.f77978","name":"","links":["2ffd5f0f.fe119"],"x":655,"y":140,"wires":[]},{"id":"b24beead.dcdbb8","type":"link out","z":"fd77f939.f77978","name":"","links":["61f2772f.4dae8"],"x":995,"y":440,"wires":[]},{"id":"2431a3f1.31de54","type":"link in","z":"fd77f939.f77978","name":"Read_photo","links":["5be5c08c.af4cf8"],"x":335,"y":800,"wires":[["faf72938.8328e8"]]},{"id":"2ffd5f0f.fe119","type":"link in","z":"fd77f939.f77978","name":"Summarise_photo","links":["a8bfb33f.ae79b"],"x":335,"y":980,"wires":[["e6413872.746168"]]},{"id":"32948c53.e108f4","type":"change","z":"fd77f939.f77978","name":"camera icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black,2-4,2,silver,0-6,3,silver,0-1,4,silver,5-6,4,silver,0-1,5,silver,3,5,white,5-6,5,silver,0-1,6,silver,5-6,6,silver,0-6,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["8b0e1824.ea64c","509e7fcc.a3f18"]]},{"id":"8b0e1824.ea64c","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":1090,"y":280,"wires":[]},{"id":"509e7fcc.a3f18","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":320,"wires":[["d6681ed1.2f717"]]},{"id":"d6681ed1.2f717","type":"change","z":"fd77f939.f77978","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["8b0e1824.ea64c","f3602338.774fe"]]},{"id":"62390df6.64ff4c","type":"change","z":"fd77f939.f77978","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":360,"wires":[["8b0e1824.ea64c","e0b1b2d5.6e8b68"]]},{"id":"f3602338.774fe","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":360,"wires":[["62390df6.64ff4c"]]},{"id":"86caf505.ec8518","type":"change","z":"fd77f939.f77978","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["8b0e1824.ea64c","e472a003.466a8"]]},{"id":"e0b1b2d5.6e8b68","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":400,"wires":[["86caf505.ec8518"]]},{"id":"e472a003.466a8","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":440,"wires":[["b24beead.dcdbb8"]]},{"id":"b041b1ed.18e9b","type":"comment","z":"fd77f939.f77978","name":"Capture the picture from the camera and save to local file","info":"The SenseHAT LED is lit white to provide additional light for the camera whilst the picture is being captured","x":230,"y":500,"wires":[]},{"id":"83254129.926028","type":"watson-speech-to-text","z":"fd77f939.f77978","name":"","continuous":true,"speakerlabels":false,"lang":"en-UK","langhidden":"en-UK","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"n4WHUB4cSZK0","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1240,"y":1220,"wires":[["e7e48b75.1f846","428152f5.cf928c","41cbbe4.50ea2c"]]},{"id":"e7e48b75.1f846","type":"debug","z":"fd77f939.f77978","name":"","active":true,"console":"false","complete":"transcription","x":1450,"y":1220,"wires":[]},{"id":"d2a83004.e55878","type":"switch","z":"fd77f939.f77978","name":"SelectColor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"wave","vt":"str"},{"t":"cont","v":"yellow","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"purple","vt":"str"},{"t":"cont","v":"pink","vt":"str"},{"t":"cont","v":"orange","vt":"str"},{"t":"cont","v":"party","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"black","vt":"str"},{"t":"else"}],"checkall":"true","outputs":13,"x":190,"y":1700,"wires":[["6418154c.a9508c"],["d277807d.ad843"],["35bb292f.8f4be6"],["773c7387.8091cc"],["d445aaa0.61ca8"],["35f114b2.fc520c"],["e6cd7d1d.1e0de"],["db71e930.386e18"],["1930fb91.e9af04"],["4aeee637.117cf"],["28ff0bfe.5d3614"],["28ff0bfe.5d3614"],["a4f68203.bfdb7","1734f43d.924a0c"]]},{"id":"5742fa6b.cea28c","type":"comment","z":"fd77f939.f77978","name":"Wave arm, set LED Color or get the forecast","info":"","x":550,"y":1440,"wires":[]},{"id":"8287833d.e1f438","type":"rpi-neopixels","z":"fd77f939.f77978","name":"Set LED Color","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":1080,"y":1600,"wires":[]},{"id":"35bb292f.8f4be6","type":"change","z":"fd77f939.f77978","name":"Red Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1560,"wires":[["2fa3442d.4c5464"]]},{"id":"d445aaa0.61ca8","type":"change","z":"fd77f939.f77978","name":"Green Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1640,"wires":[["2fa3442d.4c5464"]]},{"id":"773c7387.8091cc","type":"change","z":"fd77f939.f77978","name":"Blue Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1600,"wires":[["2fa3442d.4c5464"]]},{"id":"d277807d.ad843","type":"change","z":"fd77f939.f77978","name":"Yellow Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1520,"wires":[["2fa3442d.4c5464"]]},{"id":"35f114b2.fc520c","type":"change","z":"fd77f939.f77978","name":"Purple Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"238,130,238","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1680,"wires":[["2fa3442d.4c5464"]]},{"id":"a4f68203.bfdb7","type":"change","z":"fd77f939.f77978","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1940,"wires":[["2fa3442d.4c5464"]]},{"id":"e6cd7d1d.1e0de","type":"change","z":"fd77f939.f77978","name":"Pink Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,192,203","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1720,"wires":[["2fa3442d.4c5464"]]},{"id":"1930fb91.e9af04","type":"function","z":"fd77f939.f77978","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 20 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":430,"y":1840,"wires":[["2fa3442d.4c5464"],["7771a55a.bf6ae4"]]},{"id":"7771a55a.bf6ae4","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1900,"wires":[["1930fb91.e9af04"]]},{"id":"31652288.1343de","type":"comment","z":"fd77f939.f77978","name":"node-red-node-pi-neopixel dependency","info":"This flow requires the\n  node-red-node-pi-neopixel\nfor the Raspberry Pi NeoPixel GPIO node.\nYou can either \n  $ sudo npm -g install node-red-node-pi-neopixel\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1080,"y":1680,"wires":[]},{"id":"c317081a.2283","type":"comment","z":"fd77f939.f77978","name":"Paste API keys for Speech to Text","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Speech to Text service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1300,"y":1180,"wires":[]},{"id":"c62f277d.bde088","type":"comment","z":"fd77f939.f77978","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1300,"y":1140,"wires":[]},{"id":"f879e57b.3b59f","type":"change","z":"fd77f939.f77978","name":"Forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1980,"wires":[["6e2a93b9.f53694"]]},{"id":"eacbbb0a.d4b0e","type":"watson-text-to-speech","z":"fd77f939.f77978","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"BsTJHhqviKTL","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1080,"y":1800,"wires":[["e4b0c500.05ebc8"]]},{"id":"4aeee637.117cf","type":"wunderground","z":"fd77f939.f77978","name":"","lon":"","lat":"","city":"Madrid","country":"Spain","x":460,"y":1980,"wires":[["f879e57b.3b59f","3178498f.f0df26"]]},{"id":"3178498f.f0df26","type":"debug","z":"fd77f939.f77978","name":"","active":true,"console":"false","complete":"payload.forecast","x":660,"y":1940,"wires":[]},{"id":"41455650.aedd38","type":"comment","z":"fd77f939.f77978","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1140,"y":1900,"wires":[]},{"id":"c88506ec.bb294","type":"comment","z":"fd77f939.f77978","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1140,"y":1860,"wires":[]},{"id":"d0e572fc.89059","type":"comment","z":"fd77f939.f77978","name":"node-red-node-weather-underground dependency","info":"This flow requires\n  node-red-node-weather-underground\n\nYou can either \n  $ sudo npm -g install node-red-node-weather-underground\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":570,"y":2020,"wires":[]},{"id":"92bbfc19.9a07d","type":"comment","z":"fd77f939.f77978","name":"WeatherUnderground API","info":"Visit \n   https://www.wunderground.com/weather/api/\nto get yourself a free developer API key.","x":490,"y":2060,"wires":[]},{"id":"401f521f.6ff8b4","type":"microPi","z":"fd77f939.f77978","name":"microPi","filename":"/home/pi/audio/mic.wav","domain":"http://localhost:1880/getAudio","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":1060,"y":1220,"wires":[[],["83254129.926028"],[]]},{"id":"85739c9.d01d9e","type":"inject","z":"fd77f939.f77978","name":"record","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":1240,"wires":[["32a69cf3.5b0334"]]},{"id":"b06e0e38.66b988","type":"inject","z":"fd77f939.f77978","name":"stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":1280,"wires":[["32a69cf3.5b0334"]]},{"id":"84ef9b72.2fe4","type":"change","z":"fd77f939.f77978","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1160,"wires":[["205844e7.5e8304"]]},{"id":"5e9edbcb.d463ac","type":"change","z":"fd77f939.f77978","name":"Black","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1280,"wires":[["bc4792b.9dc61f"]]},{"id":"bc4792b.9dc61f","type":"link out","z":"fd77f939.f77978","name":"","links":["984fa786.db1bc8"],"x":935,"y":1280,"wires":[]},{"id":"984fa786.db1bc8","type":"link in","z":"fd77f939.f77978","name":"LED-output","links":["bc4792b.9dc61f","205844e7.5e8304","2fa3442d.4c5464","a64b48d.5e253b8","9a71f09d.dad22"],"x":935,"y":1600,"wires":[["8287833d.e1f438"]]},{"id":"205844e7.5e8304","type":"link out","z":"fd77f939.f77978","name":"","links":["984fa786.db1bc8"],"x":935,"y":1160,"wires":[]},{"id":"2fa3442d.4c5464","type":"link out","z":"fd77f939.f77978","name":"","links":["984fa786.db1bc8"],"x":635,"y":1680,"wires":[]},{"id":"7eadfbfc.01d3e4","type":"link in","z":"fd77f939.f77978","name":"Analyse-input","links":["35d885e8.d7b7f2","56ed44db.558a2c"],"x":55,"y":1700,"wires":[["d2a83004.e55878","6e6b8e66.eae4a"]]},{"id":"35d885e8.d7b7f2","type":"link out","z":"fd77f939.f77978","name":"","links":["7eadfbfc.01d3e4"],"x":1515,"y":1380,"wires":[]},{"id":"9b1d88b6.961b98","type":"comment","z":"fd77f939.f77978","name":"Analyse input","info":"","x":90,"y":1440,"wires":[]},{"id":"53006d75.b87a5c","type":"comment","z":"fd77f939.f77978","name":"Analyse input","info":"","x":1610,"y":1380,"wires":[]},{"id":"662596ea.298958","type":"rpi-sensehat in","z":"fd77f939.f77978","name":"","motion":false,"env":false,"stick":true,"x":120,"y":1180,"wires":[["c1c1ae15.250d08"]]},{"id":"c1c1ae15.250d08","type":"rbe","z":"fd77f939.f77978","name":"","func":"rbe","gap":"","start":"","inout":"out","x":250,"y":1180,"wires":[["8cc57ba3.2c8258"]]},{"id":"b4bf3486.098428","type":"switch","z":"fd77f939.f77978","name":"Joystick Down?","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":660,"y":1220,"wires":[["84ef9b72.2fe4","ffbcb577.b3a25"],["5e9edbcb.d463ac","80c0be73.80eee"]]},{"id":"ffbcb577.b3a25","type":"change","z":"fd77f939.f77978","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1200,"wires":[["401f521f.6ff8b4"]]},{"id":"80c0be73.80eee","type":"change","z":"fd77f939.f77978","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1240,"wires":[["401f521f.6ff8b4"]]},{"id":"32a69cf3.5b0334","type":"change","z":"fd77f939.f77978","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"{\"state\":2}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"{\"state\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1260,"wires":[["b4bf3486.098428"]]},{"id":"f30e5bde.b199c8","type":"ui_switch","z":"fd77f939.f77978","name":"","label":"Microphone","group":"5348e295.295bb4","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"state\":2}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\":0}","offvalueType":"json","officon":"","offcolor":"","x":290,"y":1220,"wires":[["b4bf3486.098428"]]},{"id":"428152f5.cf928c","type":"ui_text","z":"fd77f939.f77978","group":"5348e295.295bb4","order":0,"width":0,"height":0,"name":"","label":"Microphone input : ","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1260,"wires":[]},{"id":"53c74124.99d6a8","type":"comment","z":"fd77f939.f77978","name":"Controlling the mic","info":"The microphone can be controlled 3 different ways:\n- Hold down the joysick on the senseHAT\n- Slide the Dashboard switch to on\n- Use the record input nodes\n\nWhen the mic is recording the LED shows RED.\n\nThe mic needs to be stopped when finished speaking:\n- Release the joystick on the SenseHAT\n- Slide the Dashboard switch to off\n- Use the stop input node\n\nThe LED will turn off when recording stops","x":110,"y":1140,"wires":[]},{"id":"8cc57ba3.2c8258","type":"switch","z":"fd77f939.f77978","name":"Joystick DOWN event?","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"DOWN","vt":"str"}],"checkall":"true","outputs":1,"x":430,"y":1180,"wires":[["b4bf3486.098428"]]},{"id":"db71e930.386e18","type":"change","z":"fd77f939.f77978","name":"Orange Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1760,"wires":[["2fa3442d.4c5464"]]},{"id":"b4485041.92ffb","type":"ui_text","z":"fd77f939.f77978","group":"5348e295.295bb4","order":0,"width":"8","height":"4","name":"","label":"Audio output","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":1760,"wires":[]},{"id":"f7758620.b1753","type":"link in","z":"fd77f939.f77978","name":"English Output","links":["6e2a93b9.f53694","cf186ae9.2ac7e8","1734f43d.924a0c","b475de49.24d59"],"x":935,"y":1780,"wires":[["b4485041.92ffb","eacbbb0a.d4b0e"]]},{"id":"e4b0c500.05ebc8","type":"speakerpi-output","z":"fd77f939.f77978","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":1280,"y":1800,"wires":[]},{"id":"6e2a93b9.f53694","type":"link out","z":"fd77f939.f77978","name":"","links":["f7758620.b1753"],"x":715,"y":1980,"wires":[]},{"id":"c0cee9d3.19df","type":"comment","z":"fd77f939.f77978","name":"Pick a #hashtag to follow","info":"","x":170,"y":2180,"wires":[]},{"id":"bf865fdf.6e0018","type":"comment","z":"fd77f939.f77978","name":"Wave arm when there are Joyful tweets","info":"","x":1050,"y":2480,"wires":[]},{"id":"dfac0176.cd2f08","type":"comment","z":"fd77f939.f77978","name":"Extract highest emotion","info":"","x":720,"y":2440,"wires":[]},{"id":"30158fca.8e8d08","type":"comment","z":"fd77f939.f77978","name":"Blink the TJBot LED based on Twitter sentiment and wave his arm on Joyful tweets ","info":"","x":650,"y":2180,"wires":[]},{"id":"d5ed1506.6b7568","type":"link out","z":"fd77f939.f77978","name":"","links":["f3f52149.9280f8","f7758620.b1753"],"x":515,"y":2340,"wires":[]},{"id":"e0feb113.8b5d08","type":"change","z":"fd77f939.f77978","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2340,"wires":[["dbf8b16a.2b082","72cdd13b.ddd798","d5ed1506.6b7568"]]},{"id":"f14e425b.c323d8","type":"inject","z":"fd77f939.f77978","name":"Happy test","topic":"","payload":"every one is awesome","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":2340,"wires":[["e0feb113.8b5d08"]]},{"id":"dbf8b16a.2b082","type":"watson-tone-analyzer-v3","z":"fd77f939.f77978","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","default-endpoint":true,"service-endpoint":"","x":570,"y":2380,"wires":[["95bbadbe.7bd788","6fcdedff.d1ffbc","e7b0d32b.b61c38"]]},{"id":"72cdd13b.ddd798","type":"debug","z":"fd77f939.f77978","name":"","active":false,"console":"false","complete":"false","x":570,"y":2300,"wires":[]},{"id":"c97747ad.20d5e8","type":"inject","z":"fd77f939.f77978","name":"Sadness test","topic":"","payload":"This is miserable and sad","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":2380,"wires":[["e0feb113.8b5d08"]]},{"id":"f3c9b400.72077","type":"inject","z":"fd77f939.f77978","name":"Angry test","topic":"","payload":"I hate boring demos","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":2420,"wires":[["e0feb113.8b5d08"]]},{"id":"89956097.52d99","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":220,"y":2280,"wires":[["e0feb113.8b5d08"]]},{"id":"95bbadbe.7bd788","type":"function","z":"fd77f939.f77978","name":"HighScore","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\nvar myscore =  0;     \nvar mynewmsg ={};\n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n\n    if(emotions[i].score > myscore)\n    {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n //   node.send(msg);\n}\nmynewmsg = msg;\nreturn mynewmsg;","outputs":1,"noerr":0,"x":750,"y":2400,"wires":[["6fa9ce9.bccfdb","c87d1d94.7007e"]]},{"id":"6fcdedff.d1ffbc","type":"debug","z":"fd77f939.f77978","name":"Print msg.response","active":false,"console":"false","complete":"response","x":770,"y":2320,"wires":[]},{"id":"e7b0d32b.b61c38","type":"change","z":"fd77f939.f77978","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2360,"wires":[["55559ba7.85b9ac"]]},{"id":"766faeab.15e048","type":"twitter in","z":"fd77f939.f77978","twitter":"","tags":"#IBMCloud","user":"dm","name":"","topic":"tweets","inputs":1,"x":150,"y":2220,"wires":[["89956097.52d99","4c117f35.19ed08"]]},{"id":"6fa9ce9.bccfdb","type":"debug","z":"fd77f939.f77978","name":"Score","active":true,"console":"false","complete":"topic","x":930,"y":2400,"wires":[]},{"id":"c87d1d94.7007e","type":"switch","z":"fd77f939.f77978","name":"SelectColor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":690,"y":2620,"wires":[["4bfc596d.791c18","413dd38c.644f54"],["d42c8614.4a3208"],["b9eafe3d.01e448"],["9c5872a.c00749"],["7ea4bb99.1d77fc"],["bc5a87ac.9534a"]]},{"id":"55559ba7.85b9ac","type":"debug","z":"fd77f939.f77978","name":"Tone categories","active":false,"console":"false","complete":"payload","x":960,"y":2360,"wires":[]},{"id":"4c117f35.19ed08","type":"debug","z":"fd77f939.f77978","name":"","active":false,"console":"false","complete":"payload","x":350,"y":2220,"wires":[]},{"id":"4bfc596d.791c18","type":"change","z":"fd77f939.f77978","name":"Yellow Color - Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2520,"wires":[["a64b48d.5e253b8"]]},{"id":"d42c8614.4a3208","type":"change","z":"fd77f939.f77978","name":"Red Color - Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2560,"wires":[["a64b48d.5e253b8"]]},{"id":"b9eafe3d.01e448","type":"change","z":"fd77f939.f77978","name":"Blue Color - Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2600,"wires":[["a64b48d.5e253b8"]]},{"id":"9c5872a.c00749","type":"change","z":"fd77f939.f77978","name":"Green Color - Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2640,"wires":[["a64b48d.5e253b8"]]},{"id":"7ea4bb99.1d77fc","type":"change","z":"fd77f939.f77978","name":"Purple Color - Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"purple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2680,"wires":[["a64b48d.5e253b8"]]},{"id":"bc5a87ac.9534a","type":"change","z":"fd77f939.f77978","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2720,"wires":[["a64b48d.5e253b8"]]},{"id":"910d1902.844748","type":"comment","z":"fd77f939.f77978","name":"Twitter Analysis","info":"","x":100,"y":2140,"wires":[]},{"id":"a64b48d.5e253b8","type":"link out","z":"fd77f939.f77978","name":"","links":["984fa786.db1bc8"],"x":1235,"y":2600,"wires":[]},{"id":"94cd1637.2b3428","type":"pi-gpiod out","z":"fd77f939.f77978","name":"","host":"localhost","port":8888,"pin":"7","set":"","level":"0","out":"ser","sermin":"650","sermax":"2350","x":1440,"y":2000,"wires":[]},{"id":"c4035fa8.08e1a","type":"trigger","z":"fd77f939.f77978","op1":"95","op2":"5","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":1100,"y":2000,"wires":[["94cd1637.2b3428"]]},{"id":"d03450e5.ef8c58","type":"link in","z":"fd77f939.f77978","name":"Wave_arm","links":["6418154c.a9508c","413dd38c.644f54"],"x":935,"y":2000,"wires":[["c4035fa8.08e1a","1de79255.ff3be6"]]},{"id":"413dd38c.644f54","type":"link out","z":"fd77f939.f77978","name":"Wave Arm","links":["d03450e5.ef8c58"],"x":875,"y":2480,"wires":[]},{"id":"6418154c.a9508c","type":"link out","z":"fd77f939.f77978","name":"Wave Arm","links":["d03450e5.ef8c58"],"x":395,"y":1480,"wires":[]},{"id":"9aff9f14.149ae8","type":"comment","z":"fd77f939.f77978","name":"READ THIS BEFORE RUNNING THE DEMO","info":"Before you can run the demo, you to need to deploy, \nthen import Blumeix service credentials for the \nfollowing services in the appropriate nodes in this flow:\n- Text to Speech\n- Speech to Text\n- Visual Recognition\n- Tone Analysis\n- Conversation\n\nYou can also add a twitter API key and a Weather \nUnderground API key to add twitter and weather components to the demo.\n","x":190,"y":40,"wires":[]},{"id":"9ca7d386.8d28f","type":"comment","z":"fd77f939.f77978","name":"Wave arm","info":"W","x":980,"y":1960,"wires":[]},{"id":"761adc74.118344","type":"comment","z":"fd77f939.f77978","name":"Speak text and output to dashboard","info":"","x":1060,"y":1720,"wires":[]},{"id":"17863309.3a2e4d","type":"comment","z":"fd77f939.f77978","name":"Set LED colour","info":"","x":1000,"y":1560,"wires":[]},{"id":"eb896b73.59ee9","type":"comment","z":"fd77f939.f77978","name":"This area of the flow controls some of TobyJnr's outputs","info":"","x":1130,"y":1520,"wires":[]},{"id":"7fba854c.55fb8c","type":"trigger","z":"fd77f939.f77978","op1":"95","op2":"50","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":1280,"y":2040,"wires":[["94cd1637.2b3428"]]},{"id":"1de79255.ff3be6","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"1250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":2040,"wires":[["7fba854c.55fb8c"]]},{"id":"1734f43d.924a0c","type":"link out","z":"fd77f939.f77978","name":"","links":["f7758620.b1753"],"x":295,"y":1900,"wires":[]},{"id":"53d4f092.a0d0f8","type":"inject","z":"fd77f939.f77978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":227.5,"y":2002,"wires":[["4aeee637.117cf"]]},{"id":"2f345b7d.23cc0c","type":"link out","z":"fd77f939.f77978","name":"","links":["29f07c7d.b6abb4"],"x":975,"y":160,"wires":[]},{"id":"9f373fc3.ac05a8","type":"rpi-sensehat in","z":"fd77f939.f77978","name":"","motion":false,"env":true,"stick":false,"x":120,"y":2780,"wires":[["7e849e2e.9e1368"]]},{"id":"7e849e2e.9e1368","type":"change","z":"fd77f939.f77978","name":"","rules":[{"t":"set","p":"tempC","pt":"flow","to":"payload.temperature","tot":"msg"},{"t":"set","p":"tempF","pt":"flow","to":"msg.payload.temperature * 9/5 + 32","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2780,"wires":[[]]},{"id":"fddf6017.4c7d7","type":"comment","z":"fd77f939.f77978","name":"Store current temperature in flow context","info":"","x":180,"y":2740,"wires":[]},{"id":"6744ed79.8d3b2c","type":"watson-conversation-v1","z":"fd77f939.f77978","name":"TobyJnr Conversation","workspaceid":"7b70d9c9-a84d-489d-bc01-421333d4cc71","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"","x":400,"y":2980,"wires":[["35d86d27.ea593a"]]},{"id":"35d86d27.ea593a","type":"switch","z":"fd77f939.f77978","name":"Conversation Actions","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"CurrentTempCentigrade","vt":"str"},{"t":"eq","v":"CurrentTempFahrenheit","vt":"str"},{"t":"eq","v":"CurrentWeather","vt":"str"},{"t":"eq","v":"changeColour","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"else"}],"checkall":"false","outputs":6,"x":640,"y":2980,"wires":[["e9d59e18.9209b8"],["4a151ef8.b35948"],["7fa5439a.b30eac"],["3beccc96.011184","cb3a1c4e.137f1"],["cb01ad27.9d54e"],["bedd9771.9c47c"]]},{"id":"fbde6c81.2362c","type":"inject","z":"fd77f939.f77978","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":3020,"wires":[["6744ed79.8d3b2c"]]},{"id":"5343699c.6c87b","type":"inject","z":"fd77f939.f77978","name":"","topic":"","payload":"Is it sunny outside","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":3060,"wires":[["6744ed79.8d3b2c"]]},{"id":"14575de8.a20c52","type":"inject","z":"fd77f939.f77978","name":"","topic":"","payload":"bye","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":3100,"wires":[["6744ed79.8d3b2c"]]},{"id":"fa6613f3.108718","type":"inject","z":"fd77f939.f77978","name":"","topic":"","payload":"set colour to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":3140,"wires":[["6744ed79.8d3b2c"]]},{"id":"e9d59e18.9209b8","type":"template","z":"fd77f939.f77978","name":"Centigrade","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempC}}, {{payload.output.text.1}}","output":"str","x":890,"y":2880,"wires":[["b475de49.24d59"]]},{"id":"e87f0c5c.d2e5d","type":"inject","z":"fd77f939.f77978","name":"","topic":"","payload":"What's the temp in C","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":3180,"wires":[["6744ed79.8d3b2c"]]},{"id":"cb01ad27.9d54e","type":"change","z":"fd77f939.f77978","name":"End conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"inConversation","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3040,"wires":[["b475de49.24d59","17b40a8c.3d4915"]]},{"id":"4a151ef8.b35948","type":"template","z":"fd77f939.f77978","name":"Fahrenheit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempF}}, {{payload.output.text.1}}","output":"str","x":890,"y":2920,"wires":[["b475de49.24d59"]]},{"id":"3beccc96.011184","type":"template","z":"fd77f939.f77978","name":"Colour","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}}, {{payload.output.text.1}}","output":"str","x":1210,"y":2980,"wires":[["b475de49.24d59"]]},{"id":"cb3a1c4e.137f1","type":"change","z":"fd77f939.f77978","name":"output colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entities[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3000,"wires":[["9a71f09d.dad22"]]},{"id":"691d9e1c.a8bfc","type":"wunderground","z":"fd77f939.f77978","name":"","lon":"","lat":"","city":"Madrid","country":"Spain","x":1040,"y":2960,"wires":[["661ed153.9a6938"]]},{"id":"7fa5439a.b30eac","type":"change","z":"fd77f939.f77978","name":"convData","rules":[{"t":"set","p":"convData","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2960,"wires":[["691d9e1c.a8bfc"]]},{"id":"661ed153.9a6938","type":"template","z":"fd77f939.f77978","name":"format forecast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{convData.output.text.0}} {{payload.weather}} with a temperature of {{payload.tempc}} centigrade, {{convData.output.text.1}}","output":"str","x":1240,"y":2940,"wires":[["b475de49.24d59"]]},{"id":"2b59ca93.b2f646","type":"comment","z":"fd77f939.f77978","name":"Have a conversation with Toby","info":"","x":150,"y":2880,"wires":[]},{"id":"f9edee3f.caad08","type":"inject","z":"fd77f939.f77978","name":"Temp F","topic":"","payload":"What's the temp in Fahrenheit","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":3220,"wires":[["6744ed79.8d3b2c"]]},{"id":"41cbbe4.50ea2c","type":"switch","z":"fd77f939.f77978","name":"Using Conversation?","property":"inConversation","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1380,"y":1340,"wires":[["74d59bc8.e873ac"],["35d885e8.d7b7f2"]]},{"id":"29f07c7d.b6abb4","type":"link in","z":"fd77f939.f77978","name":"Start conversation","links":["2f345b7d.23cc0c"],"x":55,"y":3360,"wires":[["3397deea.bb66b2"]]},{"id":"3397deea.bb66b2","type":"change","z":"fd77f939.f77978","name":"","rules":[{"t":"set","p":"inConversation","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":3360,"wires":[["717a41a8.e10858"]]},{"id":"74d59bc8.e873ac","type":"link out","z":"fd77f939.f77978","name":"","links":["9962a84c.0904f8"],"x":1515,"y":1300,"wires":[]},{"id":"b538baeb.c50b18","type":"comment","z":"fd77f939.f77978","name":"to conversation","info":"","x":1620,"y":1300,"wires":[]},{"id":"9962a84c.0904f8","type":"link in","z":"fd77f939.f77978","name":"conversation","links":["74d59bc8.e873ac"],"x":215,"y":2980,"wires":[["6744ed79.8d3b2c"]]},{"id":"6e6b8e66.eae4a","type":"debug","z":"fd77f939.f77978","name":"","active":true,"console":"false","complete":"false","x":190,"y":1820,"wires":[]},{"id":"bedd9771.9c47c","type":"change","z":"fd77f939.f77978","name":"speak text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3080,"wires":[["b475de49.24d59"]]},{"id":"9a71f09d.dad22","type":"link out","z":"fd77f939.f77978","name":"to LED-output","links":["984fa786.db1bc8"],"x":1015,"y":3000,"wires":[]},{"id":"88ad5d3d.68df18","type":"comment","z":"fd77f939.f77978","name":"set LED","info":"","x":1090,"y":3000,"wires":[]},{"id":"b475de49.24d59","type":"link out","z":"fd77f939.f77978","name":"","links":["f7758620.b1753"],"x":1375,"y":2980,"wires":[]},{"id":"4c4aa8ac.303bf","type":"comment","z":"fd77f939.f77978","name":"Speak output","info":"","x":1470,"y":2980,"wires":[]},{"id":"17b40a8c.3d4915","type":"change","z":"fd77f939.f77978","name":"Clear LED panel","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3080,"wires":[["80f89cc3.c151c"]]},{"id":"717a41a8.e10858","type":"change","z":"fd77f939.f77978","name":"conversation icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black,3-5,0,silver,2,1,silver,4,1,silver,1,2,silver,3,2,silver,0,3-4,silver,2,3-4,silver,1,5,silver,3,5,silver,2,6,silver,4,6,silver,3-5,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3360,"wires":[["17231bf8.8ab414"]]},{"id":"17231bf8.8ab414","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":610,"y":3360,"wires":[]},{"id":"80f89cc3.c151c","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":1290,"y":3080,"wires":[]},{"id":"655ec22c.e0ebbc","type":"comment","z":"fd77f939.f77978","name":"Start the conversation","info":"","x":120,"y":3320,"wires":[]},{"id":"c2e94c5b.21d078","type":"comment","z":"fd77f939.f77978","name":"Paste API keys for Tone Analyzer","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":450,"y":2460,"wires":[]},{"id":"6ef5c65a.ca972","type":"comment","z":"fd77f939.f77978","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":460,"y":2420,"wires":[]},{"id":"bd9fce99.6464c","type":"comment","z":"fd77f939.f77978","name":"Paste API keys for Conversation","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Conversation service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":430,"y":3080,"wires":[]},{"id":"a20884da.1c7438","type":"comment","z":"fd77f939.f77978","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":440,"y":3040,"wires":[]},{"id":"11e1cbb8.395834","type":"comment","z":"fd77f939.f77978","name":"to Set LED colour","info":"","x":1340,"y":2600,"wires":[]},{"id":"824844a3.74f9c","type":"comment","z":"fd77f939.f77978","name":"Wave Arm","info":"","x":480,"y":1480,"wires":[]},{"id":"e842946.885a068","type":"comment","z":"fd77f939.f77978","name":"Speak output","info":"","x":810,"y":1980,"wires":[]},{"id":"5ce7fa7b.fecec4","type":"comment","z":"fd77f939.f77978","name":"set LED colour","info":"","x":740,"y":1680,"wires":[]},{"id":"ad74c0c2.89944","type":"comment","z":"fd77f939.f77978","name":"set LED colour","info":"","x":1040,"y":1280,"wires":[]},{"id":"aa599d5f.21e0e8","type":"comment","z":"fd77f939.f77978","name":"set LED colour","info":"","x":1040,"y":1160,"wires":[]},{"id":"596ffc4f.34859c","type":"comment","z":"fd77f939.f77978","name":"Read text in photo","info":"","x":770,"y":100,"wires":[]},{"id":"c05cca9c.9f70d","type":"comment","z":"fd77f939.f77978","name":"Summarise photo","info":"","x":770,"y":140,"wires":[]},{"id":"77c38434.b280cc","type":"comment","z":"fd77f939.f77978","name":"Start conversation","info":"","x":1090,"y":160,"wires":[]},{"id":"10f110a.fe9286f","type":"comment","z":"fd77f939.f77978","name":"Handle joystick","info":"","x":100,"y":100,"wires":[]},{"id":"9cfc8e5d.3ad2f","type":"ui_button","z":"fd77f939.f77978","name":"start Conversation","group":"3650f2e3.3b80fe","order":0,"width":0,"height":0,"passthru":false,"label":"start conversation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":3400,"wires":[["3397deea.bb66b2"]]},{"id":"8259fbfc.04811","type":"change","z":"fd77f939.f77978","name":"Set file details","rules":[{"t":"set","p":"filemode","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"photo.jpg","tot":"str"},{"t":"set","p":"filepath","pt":"msg","to":"/tmp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":600,"wires":[["7c8bbefd.6dca88"]]},{"id":"94d9d5f6.30043","type":"link in","z":"fd77f939.f77978","name":"Countdown to take photo","links":["11b5dc99.a8c2db"],"x":355,"y":260,"wires":[["32948c53.e108f4"]]},{"id":"11b5dc99.a8c2db","type":"link out","z":"fd77f939.f77978","name":"","links":["94d9d5f6.30043"],"x":655,"y":180,"wires":[]},{"id":"7dd8c2aa.2c4a7c","type":"comment","z":"fd77f939.f77978","name":"Countdown then take photo","info":"","x":800,"y":180,"wires":[]},{"id":"9fe22ee2.55abc8","type":"comment","z":"fd77f939.f77978","name":"Take photo","info":"","x":1080,"y":440,"wires":[]},{"id":"c63007e9.3d6f4","type":"ui_text_input","z":"fd77f939.f77978","name":"","label":"Text input","group":"3650f2e3.3b80fe","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":1160,"y":1340,"wires":[["41cbbe4.50ea2c"]]},{"id":"28ff0bfe.5d3614","type":"change","z":"fd77f939.f77978","name":"Black Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1800,"wires":[["2fa3442d.4c5464"]]},{"id":"75763fe9.2d4ba8","type":"ui_group","z":"","name":"Watson Visual Recognition","tab":"9a1d1ee4.e5a8f8","order":1,"disp":true,"width":"12"},{"id":"d36cb946.df39d8","type":"ui_group","z":"","name":"Visual Analysis","tab":"9a1d1ee4.e5a8f8","order":2,"disp":true,"width":"10"},{"id":"5348e295.295bb4","type":"ui_group","z":"","name":"Audio","tab":"9a1d1ee4.e5a8f8","order":3,"disp":true,"width":"8"},{"id":"3650f2e3.3b80fe","type":"ui_group","z":"","name":"Conversation","tab":"9a1d1ee4.e5a8f8","order":4,"disp":true,"width":"8"},{"id":"9a1d1ee4.e5a8f8","type":"ui_tab","z":"","name":"TJBot","icon":"dashboard","order":4}]
